anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
bcrypt
beautifulsoup4
bleach
blinker
certifi
cffi
chardet
click
colorama
cryptography
cupshelpers
cycler
dbus-python
debugpy
decorator
defer
defusedxml
distlib
distro
distro-info
duplicity
entrypoints
et-xmlfile
executing
fasteners
fastjsonschema
filelock
Flask
fonttools
future
gunicorn
gyp
html5lib
httplib2
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
jeepney
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
lxml
macaroonbakery
Mako
MarkupSafe
matplotlib
matplotlib-inline
mistune
monotonic
more-itertools
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
notebook-shim
numpy
oauthlib
olefile
openpyxl
packaging
pandas
pandocfilters
paramiko
parso
pexpect
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycairo
pycparser
pycups
Pygments
PyGObject
pyinotify
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
pyrsistent
python-apt
python-dateutil
python-debian
python-pam
python-xapp
python-xlib
pytz
pyxdg
PyYAML
pyzmq
reportlab
requests
scour
screen-resolution-extra
SecretStorage
Send2Trash
setproctitle
six
sniffio
soupsieve
stack-data
systemd-python
terminado
tinycss
tinycss
tornado
traitlets
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
virtualenv
wadllib
wcwidth
webencodings
websocket-client
Werkzeug
xdg
xkit
xlrd
zipp
