apturl
bcrypt
blinker
brlapi
certifi
chardet
chrome-gnome-shell
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
duplicity
fasteners
flask
future
gunicorn
gyp
html5lib
importlib-metadata
jeepney
jupyterlab
language-selector
launchpadlib
lockfile
louis
macaroonbakery
mako
matplotlib
monotonic
more-itertools
netifaces
oauthlib
olefile
openpyxl
pandas
paramiko
pip-chill
protobuf
pycups
pygobject
pyinotify
pyjwt
pymacaroons
pynacl
pyrfc3339
python-apt
python-debian
python-pam
python-xapp
python-xlib
pyxdg
pyyaml
reportlab
scour
screen-resolution-extra
secretstorage
setproctitle
systemd-python
tinycss
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
virtualenv
wadllib
xdg
xkit
xlrd
zipp
